@font-face {
  font-family: 'Epilogue';
  src: url(../fonts/epilogue/Epilogue[slnt,wght].woff2);
  // wght 100 900
  // slnt -12 0
}

@font-face {
  font-family: 'League Mono';
  src: url(../fonts/leaguemono/LeagueMonoVariable.woff2);
  // wght 100 800
  // wdth 50 200
}

@font-face {
  font-family: 'League Spartan';
  src: url(../fonts/leaguespartan/LeagueSpartanVariable.woff2);
  // wght 200 900
}

@font-face {
  font-family: 'Cabin';
  src: url(../fonts/cabin/Cabin_V.ttf);
  // wght 95 128
  // wdth 0 100
}

@font-face {
  font-family: 'Cabin Italic';
  src: url(../fonts/cabin/Cabin-Italic_V.ttf);
  // wght 95 128
}
