#ashGrey {     background-color: grey; }
#blueDusk {    background-color: darkslategrey; }
#forestGreen { background-color: darkgreen; }
#Gold {        background-color: gold; }
#jadeDome {    background-color: seagreen; }
#White {       background-color: white;}
