$hue01: 20;
$hue02: 120;

$ADHueRed: 3;
$ADRed: hsl($ADHueRed, 88, 46);
$ADHueLime: 63;
$ADLime: hsl($ADHueLime, 90, 37);
$ADHueCyan: 198;
$ADCyan: hsl($ADHueCyan, 100, 44);
$ADHueGrey: 196;
$ADGrey: hsl($ADHueGrey, 3, 60);
$ADHueNavy: 208;
$ADNavy: hsl($ADHueNavy, 100, 22);


$textcolor: hsl($hue01, 50, 30);
